body{
    background-color:#e6f2ff;
    font-family: 'Nunito', sans-serif;
}
#nb{
    background-color:#A9B7C0;
    border-radius: 0px;
    border:0px;
}
#logo{
    background-repeat: no-repeat;
    width:150px;
    height:100px;
    margin:10px 15px 10px -20px;
}
.navbar-brand{
    padding-top:05px;
    text-transform:none;
}
.navbar-brand h1{
    font-size: 2.2em;
    text-transform:uppercase;
    margin-bottom:10px;
    font-weight: 500;
    font-family: 'Sansita Swashed', cursive;
font-family: 'Texturina', serif;
}
.navbar-brand a:hover{
    text-decoration: none;
}
.navbar-brand p
{
    font-size: 1em;
    color:black;
    font-family: 'Sansita Swashed', cursive;

}
#navlist a 
{
    margin-top: 50px;
    font-size:1.5em;
    font-weight: 570;
    text-align: center;
}
#navlist a:hover
{
    background-color: #98a9b1;
    padding-top:10px;
    padding-bottom:3px; 
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar
{
    border: 1px solid #6666ff;
}
.navbar-header button.navbar-toggle
{
    clear:both;
    margin-top:-20px;
}
@media(max-width:767px)
{
    .navbar-brand
    {
        height:13vw;
    }
    .navbar-brand h1 
    {
        font-size:6vw;
        font-weight:470;
        margin-top:10px;
    }
    }
    #navlist
    {
        margin-top:10px;
    }
    #navlist a
    {
       margin-top:17px;
    }
    #navlist a:hover
    {
    background-color: #98a9b1;
    }
}
