body{
    background-color:#e6f2ff;
    font-family: 'Nunito', sans-serif;
}
#nb{
    background-color:#A9B7C0;
    border-radius: 0px;
    border:0px;
}
#logo{
    background-repeat: no-repeat;
    width:150px;
    height:100px;
    margin:10px 15px 10px -20px;
}
.navbar-brand{
    padding-top:05px;
    text-transform:none;
}
.navbar-brand h1{
    font-size: 2.2em;
    text-transform:uppercase;
    margin-bottom:10px;
    font-weight: 500;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Texturina', serif;
}
.navbar-brand a:hover{
    text-decoration: none;
}
.navbar-brand p
{
    font-size: 1em;
    color:black;
    font-family: 'Sansita Swashed', cursive;

}
#navlist a 
{
    margin-top: 50px;
    font-size:1.5em;
    font-weight: 570;
    text-align: center;
}
#navlist a:hover
{
    background-color: #98a9b1;
    padding-top:10px;
    padding-bottom:3px; 
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar
{
    border: 1px solid #6666ff;
}
.navbar-header button.navbar-toggle
{
    clear:both;
    margin-top:-20px;
}
@media(max-width:767px)
{
    #logo
    {
        background-image: url(../images/c2.PNG);
        background-repeat: no-repeat;
        height:83px;
        width:130px;
        margin: 04vw 1.8vw 0vw 5vw;
        align-items: baseline;
    }
    .navbar-brand
    {
        height:13vw;
    }
    .navbar-brand h1 
    {
        font-size:7vw;
        font-weight:490;
        margin-top:10px;
    }
    .navbar-brand p{
        font-size:3.5vw;
    }
    #navlist
    {
        margin-top:10px;
    }
    #navlist a
    {
       margin-top:17px;
    }
    #navlist a:hover
    {
    background-color: #98a9b1;
    }
    .container .jumbotron
    {
        background-color:#e6e6ff;
        padding:0;
        margin-top:2vw;
        box-shadow:5px 5px 4vw #0000b3;
        border: 2px solid #9db2be;
    }
}
@media(max-width:600px)
{
    #logo
    {
        background-image: url(../images/C1.PNG);
        background-repeat: no-repeat;
        height:65px;
        width:110px;
        margin: 05vw 1.8vw -10vw 5vw;
        align-items: baseline;
    }
    .navbar-brand
    {
        height:15vw;
    }
    .navbar-brand h1 
    {
        font-size:7vw;
        font-weight:490;
        margin-top:10px;
    }
    #navlist
    {
        margin-top:10px;
    }
    #navlist a
    {
       margin-top:17px;
    }
    #navlist a:hover
    {
    background-color: #98a9b1;
    }
}
@media(max-width:500px)
{
    #logo
    {
        background-image: url(../images/u3.jpg);
        background-repeat: no-repeat;
        height:80px;
        width:80px;
        margin: 05vw 1.8vw -10vw 5vw;
    }
    .navbar-brand
    {
        height:15vw;
    }
    .navbar-brand h1 
    {
        font-size:7vw;
        font-weight:490;
        margin-top:10px;
    }
    #navlist
    {
        margin-top:10px;
    }
    #navlist a
    {
       margin-top:17px;
    }
    #navlist a:hover
    {
    background-color: #98a9b1;
    }
}
@media(min-width:1200px)
{
    .container .jumbotron
    {
        background-image: url(../images/u25.jpg);
        background-repeat:no-repeat;
        height:675px;
        width:1100px;
        margin: auto;
        box-shadow:5px 5px 4vw #0000b3;
        margin-top:20px;
        border: 2px solid #9db2be;
        padding:0;
    }
}
@media(min-width:992px) and (max-width:1199px)
{
    .jumbotron
    {
        background-image: url(../images/u9.jpg);
        background-repeat:no-repeat;
        height: 600px;
        margin: auto;
        box-shadow:5px 5px 4vw #29297a;
        margin-top:20px;
        border: 2px solid #9db2be;
    }
}
@media(min-width:768px) and (max-width:991px)
{
    .jumbotron
    {
        background-image: url(../images/u8.jpg);
        background-repeat:no-repeat;
        height: 410px;
        margin: auto;
        box-shadow:5px 5px 4vw #0000b3;
        margin-top:20px;
        border: 2px solid #9db2be;
    }
}
#n1
{
    background:#ffff66;
    margin-top:2em;
    padding:1.5em;
    padding-right:-10px;
    font-family: 'Nerko One', cursive;
    font-size:16px;
    border-radius: 5%;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -webkit-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    float:right;
}
#n1:hover, #n1:focus
{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  position:relative;
    -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#n2
{
    background:#ffb3e6;
    margin-top:2em;
    padding:1.5em;
    padding-right:-10px;
    font-family: 'Nerko One', cursive;
    font-size:16px;
    border-radius: 5%;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -webkit-transform:rotate(-2deg);
    -o-transform:rotate(-2deg);
    -moz-transform:rotate(-2deg);
    clear: both;
}
#n2:hover, #n2:focus
{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  position:relative;
    -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#geo p ,#geo h2
{
    margin-left:10px;
    
}
#n3
{
    background:#adebad;
    margin-top:2em;
    padding:1.5em;
    padding-right:-10px;
    font-family: 'Nerko One', cursive;
    font-size:16px;
    border-radius: 5%;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -webkit-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
}
#n3:hover, #n3:focus
{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  position:relative;
    -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#n4
{
    background:#ffd699;
    margin-top:2em;
    padding:1.5em;
    padding-right:-10px;
    font-family: 'Nerko One', cursive;
    font-size:16px;
    border-radius: 5%;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -webkit-transform:rotate(-2deg);
    -o-transform:rotate(-2deg);
    -moz-transform:rotate(-2deg);
    clear:both;
}
#n4:hover, #n3:focus
{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  position:relative;
    -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#climate p, #climate h2
{
    margin-left:10px;
}
#n5
{
    background:#ff6666;
    margin-top:2em;
    padding:1.5em;
    padding-right:-10px;
    font-family: 'Nerko One', cursive;
    font-size:16px;
    border-radius: 5%;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -webkit-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
}
#n5:hover, #n5:focus
{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  position:relative;
    -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.panel-footer
{
    background-color: #8a8a5c;
    color:white;
    margin-top:20px;
}
#about
{
    text-align: center;
}
#testimonials
{
    text-align: center;
}

.row span
{
    font-size:16px;
    font-weight: 500;
}
